header {
  width: 100%;
  display: flex;
  justify-content: center; /* Вирівнює елементи на протилежні сторони */
  align-items: center; /* Вирівнює елементи по вертикалі */
  background-color: #400bd39c;
  color: white;
  padding: 20px;
  margin-bottom: 24px;
}
.form {
  display: flex;
  gap: 10px;
}
.input {
  height: 100px;
  font-size: 20px;
  padding: 10px;
}
.input:focus {
  border: 2px solid #0fd1909d;
}
.button {
  width: 100px;
  border-radius: 20%;
  font-size: 20px;
}
.button:hover,
.button:focus {
  background-color: #71de8c;
  font-weight: 600;
}
